import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,200;0,300;0,500;1,100;1,200 & family= Roboto:ital,wght@0,100;0,300; 1400;1500;1700 & mostrar=intercambiar');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}

/*------ HEADER--------*/

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);

}

.container {
    width: 1280px;
    margin: auto;

}

.nav-checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 0px;
}

.logo {

    display: none;
    padding-left: 10px;
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    align-items: center;
}

.tab-nav {
    outline: none;
    display: none;
}

.label {
    display: none;
    color: #fff;
}

.burger {
    width: 35px;
    height: 5px;
    background-color: #181818;
    margin-top: 5px;
}

.content-nav {
    display: grid;
    grid-column: 4 / 7;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;

}

.content-nav li {
    display: inline-block;
    padding-right: 10px;

}

.content-nav li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    margin-left: 1rem;

}

.content-nav li a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: right;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.5s;
}

.content-nav li a:hover::after {
    transform: scale(1, 1);
}

.redes a i {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin-left: 1rem;
}

.redes a i:hover {
    transform: scale(1.5);
    transition: all 0, 5s ease;
    color: rgb(35, 35, 137);
}

main {
    height: 120vh;
    background-image: url(../imagenes/side-view-of-graphic-designer.jpg);
    background-position: center;
}

.home {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);

}

.home .intro {
    grid-column: 7 / 10;
    grid-row: 4 / 7;
}

.home .content-1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 500;
    margin-top: 10px;
    color: #181818;


}

.home .titulo {
    font-family: 'Roboto', sans-serif;
    margin-top: 16px;
    color: #239386;
    font-size: 2rem;
    margin-left: 6rem;



}

.home .btn {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    background-color: #3A62F3;
    border-radius: 30px;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #3A62F3;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 8rem;
}

.home .btn:hover {
    transform: scale(1.1);
    transition: all 0, 5s ease;
}

.footer {
    background-color: #bae1da;
    padding: 20px;
    display: grid;
    height: 80px;
    align-items: center;
    grid-template-areas: "tip-footer redes";

}

.footer .tip-footer {
    grid-template-areas: tip-footer;
    display: flex;
    justify-content: center;
    color: rgb(144, 119, 48);
    font-size: 1em;
    margin-right: 10px;

}

.footer .redes1 a i {
    grid-template-areas: redes;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(204, 168, 68);
    padding: 5px 5px 5px 5px;
}

.redes1 {
    position: relative;
}

.redes1 a i:hover {
    transform: scale(1.5);
    transition: all 0, 5s ease;
}

@media screen and (max-width: 1280px) {
    .container {
        width: 100%;
    }
}

@media screen and (min-width:400px) and (max-width:486px) {

    .label {
        display: grid;
        cursor: pointer;
        grid-column: 2 / 8;
        padding-right: 10px;
        margin-left: 10rem;


    }


    .logo {
        display: grid;
        grid-column: 3 / 10;
    }

    .content-nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1 / 4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6ms;
    }

    .home .intro {
        grid-column: 2 / 10;
        grid-row: 3 / 7;



    }
    .content-1{
        margin-left: 7rem;
    }



.content-nav li a {
    color: #57f5e3;
    font-size: 1.5rem;
}

.footer {
    height: 20vh;


}

.footer .tip-footer {
    margin: 0;
    margin-left: 10px;
    font-size: 12px;

}

.container .redes {
    display: none;
}

.footer .redes1 a i {
    font-size: 16px;
}

.nav-checkbox input:checked~.content-nav {
    max-height: 500px;
}

.content-nav li {
    padding: 15px 0px;
}
 }
 @media screen and (min-width:686px) and (max-width:768px) {

    .label {
        display: grid;
        cursor: pointer;
        grid-column: 2 / 8;
        padding-right: 10px;
        margin-left: 10rem;


    }


    .logo {
        display: grid;
        grid-column: 3 / 10;
    }

    .content-nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1 / 4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6ms;
    }

    .home .intro {
        grid-column: 4 / 10;
        grid-row: 3 / 7;



    }
    .content-1{
        margin-left: 7rem;
    }



.content-nav li a {
    color: #57f5e3;
    font-size: 1.5rem;
}

.footer {
    height: 20vh;


}

.footer .tip-footer {
    margin: 0;
    margin-left: 10px;
    font-size: 12px;

}

.container .redes {
    display: none;
}

.footer .redes1 a i {
    font-size: 16px;
}

.nav-checkbox input:checked~.content-nav {
    max-height: 500px;
}

.content-nav li {
    padding: 15px 0px;
}
 }
 @media screen and (min-width:486px) and (max-width:686px) {

    .label {
        display: grid;
        cursor: pointer;
        grid-column: 2 / 8;
        padding-right: 10px;
        margin-left: 10rem;


    }


    .logo {
        display: grid;
        grid-column: 3 / 10;
    }

    .content-nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1 / 4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6ms;
    }

    .home .intro {
        grid-column: 3/ 10;
        grid-row: 3 / 7;



    }
    .content-1{
        margin-left: 7rem;
    }



.content-nav li a {
    color: #57f5e3;
    font-size: 1.5rem;
}

.footer {
    height: 20vh;


}

.footer .tip-footer {
    margin: 0;
    margin-left: 10px;
    font-size: 12px;

}

.container .redes {
    display: none;
}

.footer .redes1 a i {
    font-size: 16px;
}

.nav-checkbox input:checked~.content-nav {
    max-height: 500px;
}

.content-nav li {
    padding: 15px 0px;
}
 }
 @media screen and (min-width:769px) and (max-width:800px) {

    .label {
        display: grid;
        cursor: pointer;
        grid-column: 2 / 8;
        padding-right: 10px;
        margin-left: 10rem;


    }


    .logo {
        display: grid;
        grid-column: 3 / 10;
    }

    .content-nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1 / 4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6ms;
    }

    .home .intro {
        grid-column: 5 / 10;
        grid-row: 3/ 7;



    }
    .content-1{
        margin-left: 7rem;
    }



.content-nav li a {
    color: #57f5e3;
    font-size: 1.5rem;
}

.footer {
    height: 20vh;


}

.footer .tip-footer {
    margin: 0;
    margin-left: 10px;
    font-size: 12px;

}

.container .redes {
    display: none;
}

.footer .redes1 a i {
    font-size: 16px;
}

.nav-checkbox input:checked~.content-nav {
    max-height: 500px;
}

.content-nav li {
    padding: 15px 0px;
}
 }
 @media screen and (min-width:801px) {

    



    .logo {
        display: grid;
        grid-column: 3 / 10;
    }

    
    .home .intro {
        grid-column: 5 / 10;
        grid-row: 3 / 7;



    }
    .content-1{
        margin-left: 7rem;
    }






.footer {
    height: 20vh;


}




.footer .redes1 a i {
    font-size: 16px;
}

.nav-checkbox input:checked~.content-nav {
    max-height: 500px;
}

.content-nav li {
    padding: 15px 0px;
}
 }
 cards-servicios {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.bg-card {
    background-color: #FCDFD2;
    padding: 9px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 320px;
}

.w-img {
    width: 320px;
}

.border-card {
    background-color: #FCDFD2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    padding: 0px 10px 5px 10 px;
}

.boton {
    background-color: #3A62F3;
    padding: 10px 15px;
    margin: 10px;
    border-color: transparent;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: ;
}
.home1{
    height: 120vh;
    background: #4bd8be; }
    .intro1{
        width: 50%;
        display: flex;
        text-align: center;
        
        
    }
   .intro1{
    width: 100%;
    display: flex;
    max-width: 1100px;
   }
   .cuadro{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
   }
   .cuadro .contenido{
    padding: 20px;
    text-align: center;
   }

